/*---------------------------------
 *  Title styles
 *-------------------------------*/

h1, h2, h3 {
    text-align: left;
    margin-top: 5px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 1px;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 1px;
}

.h2_sub {
    border-top: 1px solid #555555;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
}

.h3_sub {
    border-top: 1px dashed #555555;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
}

/*---------------------------------
 *  JQuery dialog
 *-------------------------------*/

.ui-widget {
    z-index: 1000;
}

/*---------------------------------
 *  Table
 *-------------------------------*/

.generaltable {
    width: 100%;
    margin: auto;
}

.generaltable td {
    text-align: center;
    vertical-align: middle;
}

.generaltable td .user-picture img {
    float: left;
}

.generaltable td .user-picture a {
    display: inline-block;
    margin-top: 10px;
}

.testing-picture {
    height: 16px;
    width: 16px;
    float: right;
}

/*---------------------------------
 *  Forms
 *-------------------------------*/

.mform .fitem .fitemtitle {
    width: auto;
}

.search-form .fcontainer {
    margin: 0 10px 0 10px;
}

.search-form .fitem_ftext, .search-form .fitem_ftext .fitemtitle, .search-form .fitem_ftext .ftext {
    display: inline;
    margin: 0;
}

.search-form .fitem_fsubmit, .search-form .fitem_fsubmit .fsubmit {
    display: inline;
    margin: 0;
}

.search-form .fitem_fselect, .search-form .fitem_fselect .fitemtitle, .search-form .fitem_fselect .fselect {
    display: inline;
    margin: 0;
}

.search-form input[type=text] {
    height: 20px;
    width: 30%;
}

.search-form input[type=submit] {
    float: right;
}

.problem-form fieldset {
    margin: 0;
    padding: 0;
}

.problem-form #fitem_id_correction {
    margin: 0;
    height: 0px;
}

.problem-form #id_correction {
    display: none;
}

.solve-button fieldset, .solve-button fieldset div, .solve-button #fitem_id_submit .fsubmit {
    margin: 0;
    padding: 0;
}

.solve-button fieldset div #fitem_id_problem_answer {
    line-height: 0px;
    margin: 0;
    padding: 0;
}

.solve-button #fitem_id_submit {
    text-align: left;
}

/*---------------------------------
 *  Button
 *-------------------------------*/

.lips-button, .lips-button:visited {
    display: inline-block;
    padding: 5px 10px 6px;
    text-decoration: none;
    background-color: #9DC3F6;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.lips-button:hover {
    background-color: #7E9CC5;
    color: #FFFFFF;
    text-decoration: none;
}

.lips-button.margin-right {
    margin-right: 15px;
}

/*---------------------------------
 *  Problems
 *-------------------------------*/

#problem-right-buttons {
    display: inline-block;
    float: right;
}

#problem-right-buttons a {
    margin: 0 5px 0 5px;
}

#problem-right-buttons a:last-child {
    margin-right: 0;
}

.label_field_page_problem {
    color: #0066CC;
    font-weight: bold;
}

.unit-test img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.unit-test span {
    display: block;
    line-height: 24px;
}

.solution {
    width: 60%;
    margin-bottom: 10px;
}

.solution #header-solved {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #9FC5F8;
}

.solution #header-failed {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #f04916;
    color: #444444;
}

.solution #content {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.solution #date {
    font-style: italic;
}

.similar_problem button {
    display: inline;
}

.similar_problem .ftext {
    display: inline;
}

/*---------------------------------
 *  Challenge
 *-------------------------------*/

#challenge-users h3 {
    margin: 10px 0 5px 0;
}

#challenged-players {
    overflow: auto;
    height: 145px;
    width: 100%;
    border: 2px groove #555555;
}

#challenged-players p {
    margin: 6px;
    padding: 5px;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}

#challenged-players p:hover {
    background-color: #EEEEEE;
}

#challenged-players img {
    float: right;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 2px 3px 0 0;
}

/*---------------------------------
 *  Ace
 *-------------------------------*/

.acetitle {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
}

.acepanel {
    width: 100%;
    background-color: #EBEBEB;
    border: 1px solid #000000;
    border-bottom: none;
    line-height: 35px;
}

.acepanel a {
    margin: 0 5px 0 5px;
    padding: 5px;
    color: #000000;
    background-color: #F1F1F1;
    border: 1px solid #999999;
}

.acepanel a:hover {
    text-decoration: none;
    color: #0000FF;
}

.ace {
    width: 100%;
    height: 250px;
    border: 1px solid #000000;
}

.ace.readonly {
    border: none;
    background-color: transparent;
}

.editorCode {
    display: none;
}

/*---------------------------------
 *  Profile menu
 *-------------------------------*/

#profile-menu {
    width: 100%;
    height: 120px;
}

#profile-menu #picture {
    position: relative;
    z-index: 5;
    width: 120px;
    height: 120px;
    border: 1px solid #555555;
}

#profile-menu .right-button {
    float: right;
    margin-top: 10px;
}

#profile-menu #background {
    position: relative;
    z-index: 3;
    bottom: 80px;
    line-height: 60px;
    background-color: #555555;
    padding-left: 130px;
}

#profile-menu #background #user {
    font-size: 1.7em;
    color: #FFFFFF;
}

#profile-menu #background #infos {
    float: right;
    line-height: 30px;
}

#profile-menu #background #infos #role, #profile-menu #background #infos #rank {
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

#profile-menu #links {
    position: relative;
    display: inline-block;
    left: 95px;
    bottom: 91px;
    list-style: none;
}

#profile-menu #links li {
    float: left;
    display: block;
    padding: 0 5px 0 5px;
    border-right: 1px solid #000000;
}

#profile-menu #links li:last-child {
    border: none;
}

#profile-menu #links li a {
    text-decoration: none;
}

#profile-menu #links li p.current {
    color: #000000;
    margin: 0;
}

/*---------------------------------
 *  Ranks
 *-------------------------------*/

#ranks table {
    display: inline-table;
    margin: 10px;
}

#ranks .img {
    padding: 0;
}

#ranks .img img {
    width: 64px;
    height: 64px;
}

#ranks .rank-language {
    font-weight: bold;
}

/*---------------------------------
 *  Achievements
 *-------------------------------*/

#achievements table {
    display: inline-table;
    margin: 10px;
    width: 43%;
}

#achievements .img {
    padding: 0 5px 0 0;
}

#achievements .img img {
    width: 64px;
    height: 64px;
}

#achievements .title {
    font-weight: bold;
}

#achievements .date {
    color: #555555;
}

/*---------------------------------
 *  Notification
 *-------------------------------*/

.notification-border {
    border: 1px dashed #AAAAAA;
}

.notification-content, .challenge-content {
    margin: 5px 0 5px 0;
    width: 100%;
}

.notification-content .notification-language, .challenge-content .notification-language {
    display: inline;
    float: right;
    background-color: #9DC3F6;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    padding: 2px 6px 2px 6px;
    margin-top: -1px;
}

.notification-content img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.notification-content span, .challenge-content span {
    color: #555555;
}

.challenge-content .lips-button {
    margin: 5px 10px 5px 0;
}

.challenge-content.current {
    padding-bottom: 2px;
}

.challenge-content.current span {
    display: inline-block;
    margin-top: 2px;
}

/*---------------------------------
 *	Administration menu
 *-------------------------------*/

#administration_menu, #administration_menu ul, #administration_menu li, #administration_menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#administration_menu {
    height: 30px;
    width: 400px;

    background: #E7E7E7;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -moz-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);

    border: 1px solid #DDDDDD;

    margin-bottom: 20px;
}

#administration_menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 30px;
    margin-top: 1px;
}

#administration_menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 18px;
    text-decoration: none;

    border-left: 1px solid #393942;
    border-right: 1px solid #4F5058;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;

    color: #000000;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#administration_menu li:first-child a {
    border-left: none;
}

#administration_menu li:last-child a {
    border-right: none;
}

#administration_menu li:hover > a {
    color: #0000FF;
}

#administration_menu ul {
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;

    background: #E7E7E7;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -moz-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);
    background: linear-gradient(top, #FFFFFF 0%, #E7E7E7 100%);

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

#administration_menu li:hover > ul {
    opacity: 1;
}

#administration_menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

#administration_menu li:hover > ul li {
    height: 26px;
    overflow: visible;
    padding: 0;
}

#administration_menu ul li a {
    width: 120px;
    padding: 4px 0 4px 30px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #353539;
}

#administration_menu ul li:last-child a {
    border: none;
}

#administration_menu ul li:last-child a {
    border: none;
}

/*---------------------------------
 *  Notify
 *-------------------------------*/

#notify {
    border-radius: 2px;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 99%;
}

#notify .success-solve {
    float: right;
    font-weight: bold;
    margin-right: 5px;
}

.notifyInfo {
    border: 1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
}

.notifySuccess {
    border: 1px solid #D6E9C6;
    background-color: #DFF0D8;
    color: #468847;
}

.notifyWarning {
    border: 1px solid #DDD296;
    background-color: #FCF8E3;
    color: #C09853;
}

.notifyError {
    border: 1px solid #FBC2C4;
    background-color: #FBE3E4;
    color: #8A1F11;
}